@model Mooshak2.Models.Entities.Course
@{
    ViewBag.Title = "Course";
}

<h2>@Model.Title</h2>

<ol class="breadcrumb">
    <li><a href="~/Home">Home</a></li>
    <li class="active">@Model.Title</li>
</ol>

 
@Html.ActionLink("Assignments", "Assignments", new { id = Model.CourseID }, new { @class = "btn btn-default" })
@if (User.IsInRole("Student"))
{
@Html.ActionLink("My Grade", "Grade", new { id = Model.CourseID }, new { @class = "btn btn-default" })
}
@Html.ActionLink("Students in course", "Students", new { id = Model.CourseID }, new { @class = "btn btn-default" })
@Html.ActionLink("Teachers", "Teachers", new { id = Model.CourseID }, new { @class = "btn btn-default" })
